li a {
    position: relative;
    overflow: hidden;
}

li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: gray; /* Tailwind's blue-600 */
    transition: width 0.5s ease-in-out;
}

li a.active::after {
    width: 100%;
}
